<table id="form-style-3" frame="box" >
	<tr>
		<td width="25%">Section Name<span class="required">*</span></td>
		<td width="25%"><input type="text" id="sectionName${i}" required /></td>
		<td width="25%">Section Duration<span class="required">*</span> <i class="fa fa-question-circle" title="Leave -1 if no section constraints. If provided positive value, Examinee is not allowed to switch between section."></td>
		<td width="25%"><input type="number" id="sectionDuration${i}" placeholder="Leave -1 if not applicable"  required /></td>
	</tr>	
	<tr>
		<td width="25%">Total Question<span class="required">*</span></td>
		<td width="25%"><input type="number" id="sectionTotalQuestion${i}"  required/></td>
		<td width="25%">Default Correct Marks<span class="required">*</span></td>
		<td width="25%"><input type="text" id="sectionCorrectMarks${i}" required   /></td>
	</tr>	
	<tr>
		<td width="25%">Default incorrect Marks <span class="required">*</span></td>
		<td width="25%"><input type="text" id="sectionIncorrectMarks${i}" required /></td>
		<td width="25%"><input type="hidden" id="sectionId${i}" value="0" /></td>
		<td width="25%"></td>
	</tr>	
	<tr>
		<td width="25%">Section Details<span class="required">*</span></td>
		<td width="25%" colspan="3"><textarea class="webEditor" id="sectionDescription${i}" rows="6" required></textarea></td>
	</tr>		
</table>
<br>